@model IEnumerable<PlaceViewModel>

<h4>Layout saved for @ViewContext.RouteData.Values["moniker"]</h4>
<div class="container-fluid layout">

    @{
        var maxRow = Model.Select(p => p.Row).Max();
        var maxColumn = Model.Select(p => p.Column).Max();
   
        <div class="layout-base row">
            @{
                for (int i = 0; i <= maxRow; i++)
                {
                    <div class="layout-row">

                        @for (int j = 0; j <= maxColumn; j++)
                        {
                            if (i == 0)
                            {
                                <div class="lot-coord btn">
                                    <p>
                                        @(j)
                                    </p>
                                </div>
                            }
                            else
                            {
                                if (j == 0)
                                {
                                    <div class="lot-coord btn">
                                        <p>
                                            @(i)
                                        </p>
                                    </div>
                                }
                                else
                                {

                                    <button class="@Html.Raw(Model
                                                  .First(l => l.Row == i && l.Column == j)
                                                       .IsParkingAllowed ? "lot" : "lane") js-btn-lot btn btn-default" 
                                            data-row=@i data-column=@j>
                                        @Html.Raw(Model
                                            .First(l => l.Row == i && l.Column == j)
                                            .IsParkingAllowed ? "P" : "L")
                                    </button>

                                }

                            }

                        }
                    </div>
                }
            }
        </div>
    }
</div>

