@model DesignViewModel
@{
    ViewBag.Title = "Parking Area Constructor";
}

<h2>Parking Area Constructor</h2>
<div>

</div>
<div class="col-md-4">
    <div class="container-fluid">
        <div class="row">
            <p class="alert-info">
                To construct parking zone you have to input sides of rectangle
                representing cell matrix of parking places and lanes.
            </p>
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="row">
            <div class="form-group">
                <p>Please input size of matrix:</p>
                <label asp-for="Columns" class="control-label">Columns</label>
                <div>
                    <input asp-for="Columns" id="columns" class="form-control" type="number" style="max-width: 70px" min="1"
                           value="@Html.Raw(Model.Columns == 0 ? 1 : Model.Columns)" />
                </div>
                <span asp-validation-for="Columns"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rows" class="control-label">Rows</label>
                <div>
                    <input asp-for="Rows" id="rows" class="form-control" type="number" style="max-width: 70px" min="1"
                           value="@Html.Raw(Model.Rows == 0 ? 1 : Model.Rows)" />
                </div>
                <span asp-validation-for="Rows"></span>
            </div>
        </div>
    </div>
    <div>
        <button class="js-btn-save btn btn-success"
                data-parking-moniker="@ViewContext.RouteData.Values["moniker"]">
            Save
        </button>
    </div>
    <div style="margin-top: 3px">
        <button class="js-btn-layout btn btn-info"
                data-parking-moniker="@ViewContext.RouteData.Values["moniker"]">
            Create layout
        </button>
    </div>
    <div style="margin-top: 23px">
        @Html.ActionLink("Back to list", "Parkings", "Home")
    </div>
</div>
@if (!Model.Places.Any())
{
    <div class="col-md-8" id="parking-layout"></div>
}
else
{
    <div class="col-md-8" id="parking-layout">
        @await Component.InvokeAsync("ParkingLayout", new { moniker = Model.Moniker })
    </div>
}
@section Scripts {

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); };
}





